

canvas {
    border: 2px solid #000;
}


.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 40px;
    column-gap: 10px;
}

.card{
    padding: 12px;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 10px;
    background-color: white;
}

.dataContainer {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
}


.titles {
    display: grid;
    grid-template-columns: repeat(3,auto);
}

div.titles div  {
    display: flex;
    justify-content: center;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    
}

.functionContainer {
    align-self: stretch;
    height: fit-content;

}

.function {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 10px;
}

.function > input{
    box-shadow: 0px 0px 3px 0px;
    border: none;
    border-radius: 4px;
    background: #e8e8e8;
    transition: 0.3s;
}

.item1{
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px;
    grid-column-start: 2;
    background-color: #e8e8e8;
}


.item2{
    grid-row-start: 2; 
    grid-column-start: 2;
    
    background-color: darkkhaki;
    border: 2px solid #000;
    border-top: 2px solid white;

    display: flex;
    justify-content: center;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.botones > button{
    appearance: none;
    background-color: #001942;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}